@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin twoTriangle($color) {
  width: 0;
  display: inline-block;
  border: 8.5px solid transparent;
  border-left: 8.5px solid $color;
  border-top: 8.5px solid $color;
}

@mixin triangle($color) {
  position: absolute;
  top: 1px;
  width: 0;
  display: inline-block;
  border: 11.5px solid transparent;
  border-left: 8px solid $color;
}
